.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  